<mat-grid-list cols="3" rowHeight="300px">
    <mat-grid-tile>
        <mat-card>
            <mat-form-field>
                <mat-label>Spaceship</mat-label>
                <mat-select placeholder="Spaceship" [(value)]="listFilter.ship">
                    <mat-option [value]="undefined">None</mat-option>
                    <mat-option *ngFor="let ship of spaceships" [value]="ship.nameCode">
                        {{ship.nameCode}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <p>You Selected: {{listFilter.ship}}</p>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card>
            <mat-form-field appearance="outline">
                <mat-label>Destination</mat-label>
                <input #dest (keyup)="destinationOnKey(dest.value)" matInput placeholder="Example: Moon">
            </mat-form-field>
            <p>{{listFilter.destination}}</p>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card>
            <mat-label><u>Flights Available:</u></mat-label>
            <mat-list role="list">
                <mat-list-item [disableRipple]="false" *ngFor="let flight of spaceFlights | FlightFilter:listFilter; let i = index" 
                    (click)="selectFlight()" role="listitem">
                    <div matLine>
                    <b>{{flight.destination}}</b>
                    </div>
                    <div matLine>
                    Flight Number: {{flight.flightNumber}}
                    </div>
                </mat-list-item>
            </mat-list>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>